h1 {
  text-align: center;
  font-weight: 300;
  color: $dark-gray;
}

h4 {
  text-align: center;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

table.button table td a {
  text-transform: capitalize;
}

.small {
  font-size: $small-font-size;
  line-height: $small-line-height;
  margin-bottom: $small-paragraph-margin-bottom;
}

ul {
  margin-bottom: $paragraph-margin-bottom;
}

.text-muted {
  color: $medium-gray;
}

.text-medium {
  color: black;
  font-size: 14px;
  margin-bottom: 0px;

  a {
    color: black;
    text-decoration: underline;
  }
}

.x-small {
  color: #676b71;
  font-size: 12px;
  a {
    color: #676b71;
    text-decoration: underline;
  }
}

.mono {
  font-family: $monospace-font-family;
}
