name: Test, Build & Deploy

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test_build_deploy:
    runs-on: ubuntu-latest

    env:
      CROWDIN_PROJECT_ID: 202775
      CROWDIN_CONFIG_PATH: './crowdin.yaml'

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{github.token}}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Set BRANCH_NAME, TAG & COMMIT_MESSAGE environment variables
        run: |
          echo "::set-env name=BRANCH_NAME::$(git branch --show-current)"
          echo "::set-env name=TAG::$(git tag --points-at ${{github.sha}})"
          echo "::set-env name=COMMIT_MESSAGE::$(git log --format=%B -n 1 ${{github.event.after}})"

      - name: Print environment variables
        env:
          GITHUB_CONTEXT: ${{toJson(github)}}
        run: |
          echo -e "BRANCH_NAME = ${BRANCH_NAME}"
          echo -e "TAG = ${TAG}"
          echo -e "COMMIT_MESSAGE = ${COMMIT_MESSAGE}"
          echo -e "GITHUB_SHA = ${GITHUB_SHA}"
          echo -e "GITHUB_REF = ${GITHUB_REF}"
          echo -e "GITHUB_CONTEXT = ${GITHUB_CONTEXT}"

      - name: Yarn cache
        uses: c-hive/gha-yarn-cache@v1

      - name: Install JS dependencies
        run: yarn --frozen-lockfile

      - name: Test
        run: yarn test

      - name: Upload translations
        if: github.event_name == 'pull_request'
        uses: crowdin/github-action@1.0.9
        env:
          GITHUB_TOKEN: ${{github.token}}
          CROWDIN_PROJECT_ID: ${{env.CROWDIN_PROJECT_ID}}
          INPUT_DEBUG_MODE: false
        with:
          upload_sources: true
          upload_translations: false
          download_translations: false
          skip_untranslated_files: true
          push_translations: false
          create_pull_request: false
          token: ${{secrets.WEB_CROWDIN_TOKEN}}
          config: ${{env.CROWDIN_CONFIG_PATH}}

      - name: Download translations
        if: env.BRANCH_NAME == 'master'
        uses: crowdin/github-action@1.0.9
        env:
          GITHUB_TOKEN: ${{github.token}}
          CROWDIN_PROJECT_ID: ${{env.CROWDIN_PROJECT_ID}}
          INPUT_DEBUG_MODE: false
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          skip_untranslated_files: false
          push_translations: false
          create_pull_request: false
          token: ${{secrets.WEB_CROWDIN_TOKEN}}
          config: ${{env.CROWDIN_CONFIG_PATH}}

      - name: Build
        if: env.BRANCH_NAME == 'master'
        run: sudo yarn build

      - name: Commit
        if: env.BRANCH_NAME == 'master'
        run: |
          git config --global user.email webapp+travis@wire.com
          git config --global user.name "Wire Travis CI"
          git add .
          git status
          git commit -am 'Otto build'

      - name: Deploy
        if: env.BRANCH_NAME == 'master'
        run: yarn deploy
